@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(img/background.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.top-wrapper p {
  color: white;
  margin-bottom: 30px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #2d3436;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  font-size: 0.8rem;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.container-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container b{
  color: #4540DB;
}

.section-title-form {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title-form span {
  color: #000;
}

.category {
  padding: 6rem;
  background-color: #F6F7FC;
}

.category-header {
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 3rem;
}

.category-header span {
  color: #4540DB;
}

.category-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  margin: 1.5rem;
  padding: 1.7rem;
  border-radius: 20px;
  box-shadow: 5px 8px #3834b2;
  background-color: white;
  border: 1px solid #3834b2;
}

.category-card:hover {
  box-shadow: 0 0 #3834b2;
  background-color: #3834b2;
  border: 1px solid #3834b2;
  color: white;
  transition: 0.5s;
}

.category-img {
  padding: 0 15px 0 0;
}

.category-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.category-subtitle {
  font-size: 0.75rem;
}

/* contact Section */
.contact {
  flex-direction: column;
  margin: 0 auto;
  padding: 6rem;
}

.contact-header {
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-header span {
  color: #4540DB;
}

.contact-items {
  width: 100%;
}

.form-group {
  padding-top: 15px;
  width: 400px;
  margin: 15px auto;
}

.label {
  font-size: 16px;
}

.form-control {
  display: block;
  width: 400px;
  margin: 15px auto;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  line-height: 2.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee7ec;
  border-radius: 0.25rem;
  transition: border-color .15s
}

.btn {
  display: inline-block;
  width: 400px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: 0.25rem;
  transition: color .15s
}

.btn-primary {
  color: #fff;
  background-color: #4540DB;
  border-color: #4540DB;
  font-size: 15px;
}

/*End contact Section */

.footer {
  background-color: #696969;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}

.footer-list a {
  font-size: 1rem;
  color: white;
}
